body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.label__text {
  fill: darkslategrey;
  font-size: 10px;
}

rect.label__background {
  fill: yellow;
  opacity: 0;
}

g.labeled-feature:hover {
  cursor: default;
}

g.labeled-feature:hover rect.label__background {
  opacity: 0.2;
}

rect.feature {
  stroke: none;
  fill: blue;
  opacity: 0;
}

g.labeled-feature:hover rect.feature {
  opacity: 0.2;
}

g.leader {
  opacity: 0.5;
}

g.labeled-feature:hover g.leader {
  opacity: 1;
}

path.leader-background {
  stroke: white;
  stroke-width: 2;
  fill: none;
}

path.leader-line {
  stroke: blue;
  stroke-width: 1;
  fill: none;
}
