body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.label__text {
  fill: black;
  font-size: 12px;
}

rect.flag {
  stroke: black;
  fill: lightyellow;
}

rect.feature {
  stroke: green;
  fill: none;
  opacity: 0.6;
}

path.link {
  stroke: black;
  stroke-width: 1;
  opacity: 0.6;
  fill: none;
}
